.phoneNumberInput{
    background-color:#262626;
    color:#fff;
    border:none;
    outline:none;
    padding:10px;
    font-size: 15px;
    border-radius: 10px;
}
.bottomText{
    color:#C4C5C5;
    width:65%;
    text-align: center;
    font-size: 12px;
    margin-bottom:20px;
}