.wrapper{
    width:90vw;
    height:80vh;
    /* background-color: red; */
    display:flex;
    flex-direction: column;
    align-items: center;
}
.textWrapper{
    margin-top: 50px;
    /* background-color: red; */
    width:70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.text{
    font-size: large;
    
}