.button{
    background-color: #323232;
    color:#fff;
    border:none;
    outline:none;
    padding:30px 30px;
    /* width:200px;
    height: 200px;  */
    border-radius: 10px;
    margin-bottom: 20px;
}
.img{
    width:60px;
}
.userButtonText{
    font-size: larger;
    margin-bottom: 10px;
}